<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>

		<add key="DirectoryFolder" value ="C:\FileMonitoring2"/>
		<add key="SourceFolder" value="C:\FileMonitoring2\Source2"/>
		<add key="DestinationFolder" value="C:\FileMonitoring2\Destination2"/>
		<add key="LogFolder" value="C:\FileMonitoring2\Logs2"/>
		<add key="LogFileName" value="Logging.txt"/>

	</appSettings>

</configuration>